<!DOCTYPE html>
<html>
  <head>
    <title>Course</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/71ade3bd8c.js" crossorigin="anonymous"></script>
 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
      <div class="navbar">
        <div class="logo">
          <p class="title-sm text-bold"><%= link_to 'Система управління', root_path%></p>
        </div>  
          <div>
            <% if current_user.present? %>
              <% if current_user.admin? %>
                <%= link_to "Сторінка адміністратора", admins_page_path, class: 'button button-yellow mr-sm' %>
              <% end %>
              <%= content_tag 'span', "@#{current_user.nickname}", class: 'mr-sm' %>
              <%= link_to fa_icon('pencil'), edit_user_path(current_user), class: 'mr-sm',
              title: 'Змінити дані'%>
              <%= button_to fa_icon('sign-out'), session_path, method: :delete, class: 'mr-sm',
              title: 'Вийти з акаунту'%>
            <% else %>  
              <div class="buttons">
                <%= link_to 'Реєстрація', new_user_path, class: 'button button-yellow mr-sm'%>
                <%= link_to 'Вхід', new_session_path, class: 'button button-yellow' %>
              </div>
            <% end %>  
          </div>  
      </div>

      <% if flash[:notice].present? %>
        <p class="mb mt message message-notice"><%= flash[:notice] %></p>
      <% elsif flash[:alert].present? %>
        <p class="mb mt message message-alert"><%= flash[:alert] %></p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
